.listing-div{
    padding: 1rem;
    padding-top: 5rem;

}
.section-title{
    color:var(--TEXT_COLOR_L1);
margin: 0;
margin-top: 1rem;
padding-left: 2rem;

}
.listing-videos-div{
    margin: 1rem 0;
    padding: 1rem 0;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    overflow-y: scroll;
        height: 250px;

}
section{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}

@media (max-width:600px) {
    .listing-div{
        padding: 0.4rem;
        padding-top: 5rem;

    }

}