.video-page {
  padding: 0 1rem;
  padding-top: 4rem;
}
.videoframe {
  width: 100%;
  height: 40vw;
}
.center {
  margin-right: 1rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.view-count {
  width: 25%;
  max-width: 150px;
}
.like-count {
  width: 100px;
  cursor: pointer;
}
.playList-title {
  position: relative;
  cursor: pointer;
  width: 140px;
}
.playlistdiv {
  display: inline;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  left: -3rem;
  background-color: var(--nav-color);
}
.playlistdiv > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.playlistdiv ul li {
  margin: 0.2rem;
}
.listname {
  position: relative;
  top: -1px;
  font-size: 16px;
  margin-left: 6px;
}
.features {
  margin: 1rem 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.video-title {
  font-weight: bold;

  font-size: large;
}
.video-description {
  overflow: hidden;
  line-height: 140%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-size: 16px;
  color: var(--TEXT_COLOR_L1);
}
.save-ico {
  width: 70px;
}
.playlist-checkbox {
  display: inline;
}
.playlist-input {
  display: inline;
  width: 110px;
}
.add-btn {
  display: inline;
}
.add-btn {
  position: relative;
  top: 6px;
}
.btn-center {
  cursor: pointer;
  margin-top: 0.4rem;
  position: relative;
  left: 3em;
}
.enable {
  display: none;
}
@media (max-width: 600px) {
  .video-page {
    padding: 0 0.5rem;
  }
  .videoframe {
    height: 80vw;
  }
  .features {
    font-size: 10px;
  }
  .video-icon {
    font-size: 5px;
    width: 5px;
    height: 5px;
  }
  .playlistdiv {
    padding: 0.5em;
    font-size: 14px;
    left: -4rem;
  }
  .add-btn {
    width: 3px;
    position: relative;
    top: 6px;
  }
}
